2023-06-04 14:11:48,610 [http-nio-8080-exec-3] INFO  AuthController - Order shipped successfully.
2023-06-04 14:11:48,611 [http-nio-8080-exec-3] WARN  AuthController - Potential security vulnerability detected in user input: '...'
2023-06-04 14:11:48,611 [http-nio-8080-exec-3] ERROR AuthController - Failed to process order. Error: {. . .}
2023-06-04 14:11:48,611 [http-nio-8080-exec-3] FATAL AuthController - System crashed. Shutting down...
2023-06-04 14:11:48,612 [http-nio-8080-exec-3] INFO  AuthController - Giriş yapan kullanıcı
2023-06-04 14:11:49,283 [http-nio-8080-exec-3] INFO  AuthController - Info log message
2023-06-04 14:11:49,284 [http-nio-8080-exec-3] ERROR AuthController - Error log message
2023-06-06 11:54:55,609 [http-nio-8080-exec-5] INFO  AuthController - token:eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsImlzcyI6Imh5Z2VpYSIsImV4cCI6MTY4NjE0MTU5NX0.1QHc4yUMgj060MUBAD_nXY64XtgzWCKlnC3W3bYVWz_FJKJMVYQ52LcTyPXH1iiAC4fHY82g2x5l6liZo2xlGQ
2023-06-06 16:16:43,064 [http-nio-8080-exec-10] INFO  AuthController - asdsakullanıcısı için hatalı giriş denemesi.
2023-06-06 16:33:25,489 [http-nio-8080-exec-8] INFO  AuthController - nullkullanıcısı için hatalı giriş denemesi.
2023-06-06 16:33:29,103 [http-nio-8080-exec-7] INFO  AuthController - nullkullanıcısı için hatalı giriş denemesi.
2023-06-06 16:33:39,832 [http-nio-8080-exec-2] INFO  AuthController - nullkullanıcısı için hatalı giriş denemesi.
2023-06-06 16:33:44,592 [http-nio-8080-exec-6] INFO  AuthController - nullkullanıcısı için hatalı giriş denemesi.
2023-06-06 16:33:59,775 [http-nio-8080-exec-9] INFO  AuthController - nullkullanıcısı için hatalı giriş denemesi.
2023-06-06 16:44:46,823 [http-nio-8080-exec-6] INFO  AuthController - nullkullanıcısı için hatalı giriş denemesi.
2023-06-06 16:45:44,881 [http-nio-8080-exec-7] INFO  AuthController - nullkullanıcısı için hatalı giriş denemesi.
2023-06-06 16:46:09,134 [http-nio-8080-exec-4] INFO  AuthController - token:eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ2ZWxpIiwiaXNzIjoiaHlnZWlhIiwiZXhwIjoxNjg2MTU5MDY5fQ.oA22AP1cs9I5-FvwfMXWaLLxnIplKdBSzJaNsPz_txPmD-y4kfkNJ7DlYO3z_A1wvdUiHfJfYLCNsH-onXHfdA
2023-06-06 16:46:26,907 [http-nio-8080-exec-7] INFO  AuthController - velikullanıcısı için hatalı giriş denemesi.
2023-06-06 16:46:32,534 [http-nio-8080-exec-5] INFO  AuthController - token:eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ2ZWxpIiwiaXNzIjoiaHlnZWlhIiwiZXhwIjoxNjg2MTU5MDkyfQ.cDDZIUda0ysHQ3_pKyx8Mco-7RKZ6Jhwb-vyqPennA5H-fKbEmGmQpFfllDfffKHvSnfe8ECwtGNVMLsx7mWuQ
2023-06-06 16:57:18,738 [http-nio-8080-exec-1] INFO  AuthController - token:eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ2ZWxpIiwiaXNzIjoiaHlnZWlhIiwiZXhwIjoxNjg2MTU5NzM4fQ.0eOsiCfoU64To3da2S6PojolSNUQigYQPvV5muDS01LVWk4kBryei5JyH2r-7cY2VulbpSDKhOHQV_iGuuw1fQ
