2023-06-04 14:11:48,610 [http-nio-8080-exec-3] INFO  AuthController - Order shipped successfully.
2023-06-04 14:11:48,611 [http-nio-8080-exec-3] WARN  AuthController - Potential security vulnerability detected in user input: '...'
2023-06-04 14:11:48,611 [http-nio-8080-exec-3] ERROR AuthController - Failed to process order. Error: {. . .}
2023-06-04 14:11:48,611 [http-nio-8080-exec-3] FATAL AuthController - System crashed. Shutting down...
2023-06-04 14:11:48,612 [http-nio-8080-exec-3] INFO  AuthController - Giriş yapan kullanıcı
2023-06-04 14:11:49,283 [http-nio-8080-exec-3] INFO  AuthController - Info log message
2023-06-04 14:11:49,284 [http-nio-8080-exec-3] ERROR AuthController - Error log message
